{% for block in blocks %}
  {% assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip %}
  {% if link.handle == mega_menu_trigger and block.type == 'mega_menu' %}
    <div class="mega-menu__columns mega-menu__columns--{{ block.settings.column_to_show }}">
      {% for i in (1..8) %}
        {%- assign enable_column_setting = 'enable_column_' | append: i -%}
        {%- assign link_setting = 'link_' | append: i -%}
        {%- assign icon_setting = 'icon_' | append: i -%}
        {%- assign heading_setting = 'heading_' | append: i -%}
        {%- assign description_setting = 'description_' | append: i -%}
        {%- assign menu_setting = 'menu_' | append: i -%}
        {% if block.settings[enable_column_setting] %}
          <div class="mega-menu__column {% if block.settings[link_setting].url != blank and block.settings.menu_1 == blank %}mega-menu__column--overlay{%- endif -%}">
            {%- if block.settings[icon_setting] != 'none' -%}
              <div class="mega-menu__icon mega-menu__icon--{{- block.settings.icon_size }} {% if block.settings.box_shadow %}mega-menu__icon--shadow {% endif %} mega-menu__icon--{{- block.settings.icon_style }} mega-menu__icon--{{- block.settings.icon_fill_type }} color-{{ block.settings.icon_color_scheme }}">
                <i
                  class="icon icon-pack icon-{{ block.settings[icon_setting] }} {% if block.settings.icon_style == 'colored' and block.settings.icon_fill_type == 'gradient' %} text-gradient {% endif %}"
                ></i>
              </div>
            {%- endif -%}
            <div class="mega-menu__column-info {% if block.settings[description_setting] == blank %}mega-menu__column-info--only-heading{% endif %}">
              {%- if block.settings[link_setting].url != blank -%}
                <a
                  {% if block.settings[link_setting].url != blank %}
                    href="{{ block.settings[link_setting] }}"
                  {% endif %}
                  class="mega-menu__column-link-overlay"
                  {% if block.settings[link_setting].url == blank %}
                    aria-disabled="true"
                  {% endif %}
                  aria-label=""
                  tabindex="0"
                ></a>
              {%- endif -%}
              {%- if block.settings[heading_setting] != blank -%}
                <div class="mega-menu__column-heading">
                  {{ block.settings[heading_setting] }}
                </div>
              {%- endif -%}
              {%- if block.settings[description_setting] != blank -%}
                <p class="mega-menu__column-text body-small">
                  {{ block.settings[description_setting] }}
                </p>
              {%- endif -%}
            </div>
            {%- if block.settings[menu_setting] != blank -%}
              <ul class="mega-menu__column-list list-unstyled" role="list">
                {%- for link in block.settings[menu_setting].links -%}
                  <li class="mega-menu__column-list-item body-small">
                    <a
                      href="{{ link.url }}"
                      class="mega-menu__column-list-link focus-inset"
                      aria-label="{{ link.title | escape }}"
                      tabindex="0"
                    >
                      {{- link.title | escape -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {%- endif -%}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if block.settings.enable_promo %}
      <div class="mega-menu__promo">
        <div class="mega-menu__promo-info">
          {%- if block.settings.promo_heading != blank -%}
            <div class="mega-menu__promo-heading">
              {{ block.settings.promo_heading }}
            </div>
          {%- endif -%}
          {%- if block.settings.promo_description -%}
            <p class="mega-menu__promo-text body-small">
              {{- block.settings.promo_description -}}
            </p>
          {%- endif -%}
        </div>
        <a
          {% if block.settings.promo_link.url != blank %}
            href="{{ block.settings.promo_link }}"
          {% endif %}
          class="mega-menu__column-link button button--{{ block.settings.promo_button_style }} button--arrow focus-inset"
          {% if block.settings.promo_link.url == blank %}
            aria-disabled="true"
          {% endif %}
          aria-label="{{ block.settings.promo_link_label }}"
        >
          <span>
            {{- block.settings.promo_link_label -}}
          </span>
          {% render 'icon-button-arrow' %}
        </a>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
