{% comment %}
  	Renders a product card
  	Accepts:
  	- product_card_product: {Object} Product Liquid object (optional)
  	- show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  	- show_vendor: {Boolean} Show the product vendor. Default: true
  	- section_id: {String} The ID of the section that contains this card.
  	Usage:
  {% render 'product-card-simple', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% liquid
  assign aspect_ratio = media_ratio | split: '/'
  assign temp = aspect_ratio[0] | append: '.0'
  assign padding_bottom = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
%}

{%- if settings.quickview_show or settings.add_to_cart_enabled -%}
  {%- assign first_3d_model = product_card_product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product_card_product.media | where: 'media_type', 'model' | json }}
    </script>

    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}
{%- endif -%}

<div
  class="card-wrapper js-color-swatches-wrapper color-{{ settings.card_color_scheme }}"
  data-product="{{ product_card_product.handle }}"
>
  <span class="visually-hidden">{{ product_card_product.title | escape }}</span>

  <div class="card card--product" tabindex="-1">
    <div class="card__inner full-unstyled-link">
      {%- liquid
        assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

        if product_card_product.featured_media.aspect_ratio == null
          assign featured_media_aspect_ratio = 1
        endif
      -%}

      <div
        class="media media--transparent media--hover-effect"
        style="padding-bottom: {{ padding_bottom }}%;"
      >
        {%- if product_card_product.featured_media -%}
          {% assign width_ratio = 1 %}
          {% if product_card_product.featured_media.width < product_card_product.featured_media.height
            or padding_bottom <= 100
          %}
            {% assign width_ratio = 1 %}
          {% elsif product_card_product.featured_media.width > product_card_product.featured_media.height %}
            {% assign width_ratio = product_card_product.featured_media.width
              | plus: 0.0
              | divided_by: product_card_product.featured_media.height
              | round: 2
            %}
            {% if padding_bottom > 100 %}
              {% assign width_ratio = width_ratio | times: padding_bottom | divided_by: 100 | round: 2 %}
            {% endif %}
          {% endif %}

          {% capture sizes %}
						(min-width: 1100px) calc(535px * {{ width_ratio }}), (min-width: 750px) calc(((100vw - 130px) / 2) * {{ width_ratio }}), calc(((100vw - 50px) / 2) * {{ width_ratio }})
					{% endcapture %}

          {% capture style %}
						{%- if media_fit == 'contain' -%}
							object-fit: contain;
						{%- endif -%}
						{%- if media_fit == 'cover' -%}
							object-fit: cover;
						{%- endif -%}
					{% endcapture %}

          {{
            product_card_product.featured_media
            | image_url: width: product_card_product.featured_media.width
            | image_tag:
              loading: 'lazy',
              class: 'motion-reduce media--first',
              widths: '360, 535, 720, 940, 1066, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600',
              sizes: sizes,
              style: style
          }}

          {%- if product_card_product.media[1] != null and show_secondary_image -%}
            {{
              product_card_product.media[1]
              | image_url: width: product_card_product.media[1].width
              | image_tag:
                loading: 'lazy',
                class: 'motion-reduce media--second',
                widths: '360, 533, 720, 940, 1066, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600',
                sizes: sizes,
                style: style
            }}
          {%- endif -%}
        {%- else -%}
          {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
    {%- if settings.add_to_cart_enabled
      and product_card_product.selected_or_first_available_variant.available
      and product_card_product.has_only_default_variant
      or product_card_product.options.size == 1
      and settings.type_color_swatch == 'custom'
      and product_card_product.options[0] == settings.trigger_swatch
    -%}
      {%- assign product_form_id = 'quick-add-' | append: section_id | append: product_card_product.id -%}
      <product-form class="card__add-to-cart card__button">
        {%- form 'product',
          product_card_product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ product_card_product.selected_or_first_available_variant.id }}"
            disabled
          >
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            class="
              card__link button
              button--{{ settings.quickview_button_style }}
              card__link--{{ settings.quickview_button_layout }}
              {% if settings.show_on_mobile -%}card__link--show{%- endif %}
              card-focused
            "
            name="add"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product_card_product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if product_card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            {% if settings.quickview_button_style == 'link' %}
              {% render 'icon-cart' %}
            {% else %}
              <span class="card__quickview-text">
                {{- 'general.card.quick__add' | t -}}
              </span>
            {% endif %}
            <span class="sold-out-message hidden">
              {{ 'products.product.sold_out' | t }}
            </span>
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        {%- endform -%}
      </product-form>
    {%- elsif settings.quickview_show -%}
      <div class="quick-add no-js-hidden">
        {%- assign product_form_id = 'quick-add-' | append: section_id | append: product_card_product.id -%}
        <modal-opener data-modal="#QuickAdd-{{ product_card_product.id }}">
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="
              card__link button
              button--{{ settings.quickview_button_style }} card__link--{{ settings.quickview_button_layout }}
              {%- if settings.show_on_mobile -%}card__link--show{%- endif %}
              card-focused
            "
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product_card_product.id }}"
            data-product-url="{{ product_card_product.url }}"
          >
            {% if settings.quickview_button_style == 'link' %}
              {% render 'icon-eye' %}
            {% else %}
              <span class="card__quickview-text">
                {{- 'general.card.quick__view' | t -}}
              </span>
            {% endif %}
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        </modal-opener>
        <quick-add-modal
          id="QuickAdd-{{ product_card_product.id }}"
          class="quick-add-modal"
        >
          <div
            role="dialog"
            aria-label="{{ 'products.product.choose_product_options' | t: product_name: product_card_product.title | escape }}"
            aria-modal="true"
            class="quick-add-modal__content global-settings-popup"
          >
            <button
              id="ModalClose-{{ product_card_product.id }}"
              type="button"
              class="quick-add-modal__toggle modal-close-button"
              aria-label="{{ 'accessibility.close' | t }}"
              tabindex="-1"
            >
              {% render 'icon-close' %}
            </button>
            <div class="quick-add-modal__content-wrapper">
              <div
                id="QuickAddInfo-{{ product_card_product.id }}"
                class="quick-add-modal__content-info"
              ></div>
            </div>
          </div>
        </quick-add-modal>
      </div>
    {%- endif -%}
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
      <div class="card-information__group">
        <div class="card-information__group-left">
          {%- if show_vendor -%}
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            <div class="card__vendor body-small {% if settings.enable_vendor_link %} card__vendor_link {% endif %}">
              {% if settings.enable_vendor_link %}
								{{ product_card_product.vendor | link_to_vendor: class: "focus-inset" }}
							{% else %}
								{{ product_card_product.vendor }}
							{% endif %}
            </div>
          {%- endif -%}
          <h3 class="card__title h5">
            <a
              class="full-unstyled-link"
              href="{{ product_card_product.url | default: '#' }}"
              title="{{ product_card_product.title | escape }}"
            >
              {{- product_card_product.title | escape -}}
            </a>
          </h3>
        </div>
      </div>
      {% render 'price', product: product_card_product, price_class: '' %}
      <div class="product-parameters">
        {%- unless product_card_product.has_only_default_variant -%}
          {%- for option in product_card_product.options_with_values -%}
            {% liquid
              assign color_trigger = settings.trigger_swatch | handle | strip
              assign name_option = option.name | handle | strip
            %}

            {% if settings.type_color_swatch == 'custom' and color_trigger == name_option %}
              <div class="product-form__controls js-color-swatches">
                <div class="product-form__controls-group">
                  {% render 'product-variant-options',
                    product: product_card_product,
                    option: option,
                    no_form_id: false
                  %}
                </div>
              </div>
            {% endif %}
          {%- endfor -%}
        {% endunless %}
      </div>
    </div>
  </div>
  <a
    href="{{ product_card_product.url | default: '#' }}"
    class="link link--overlay card-wrapper__link--overlay js-color-swatches-link"
    aria-label="{{ 'accessibility.product_link' | t }}"
  ></a>
</div>
