{% comment %}
  	Renders a horizontal product card
  	Accepts:
  	- product_card_product: {Object} Product Liquid object (optional)
  	- media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  	- show_vendor: {Boolean} Show the product vendor. Default: true
  	Usage:
  {% render 'product-card-horizontal',
  	product_card_product: product,
  	show_vendor: true
  %}
{% endcomment %}

{% liquid
  assign aspect_ratio = media_ratio | split: '/'
  assign temp = aspect_ratio[0] | append: '.0'
  assign padding_bottom = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
%}

<div
  class="card-horizontal-wrapper color-{{ settings.card_color_scheme }}"
  data-product="{{ product_card_product.handle }}"
>
  <span class="visually-hidden">{{ product_card_product.title | escape }}</span>

  <div class="card-horizontal__image" tabindex="-1">
    <div
      class="media"
      style="padding-bottom: {{ padding_bottom }}%; object-fit: {{ media_fit }};"
    >
      {%- if product_card_product.featured_media -%}
        {{
          product_card_product.featured_media
          | image_url: width: 170
          | image_tag: loading: 'lazy', class: 'motion-reduce media--first'
        }}

        {%- if product_card_product.media[1] != null and show_secondary_image -%}
          {{
            product_card_product.media[1]
            | image_url: width: 170
            | image_tag: loading: 'lazy', class: 'motion-reduce media--second'
          }}
        {%- endif -%}
      {%- else -%}
        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
  </div>

  <div class="card-horizontal__information">
    {%- if show_vendor -%}
      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
      <div class="subtitle card-horizontal__vendor {% if settings.enable_vendor_link %} card-horizontal__vendor_link {% endif %}">
        {% if settings.enable_vendor_link %}
          {{ product_card_product.vendor | link_to_vendor: class: "focus-inset" }}
        {% else %}
          {{ product_card_product.vendor }}
        {% endif %}
      </div>
    {%- endif -%}

    <h3 class="card-horizontal__title body-normal">
      {% if product_card_product.title %}
        <a
          class="full-unstyled-link"
          href="{{ product_card_product.url | default: '#' }}"
          title="{{ product_card_product.title | escape }}"
        >
          {{ product_card_product.title | escape }}
        </a>
      {% else %}
        {{ 'products.product.product_heading' | t }}
      {% endif %}
    </h3>
    {% render 'price', product: product_card_product, price_class: '' %}
  </div>
  {% if product_card_product.url %}
    <a
      href="{{ product_card_product.url | default: '#' }}"
      class="link link--overlay card-wrapper__link--overlay"
      aria-label="{{ "accessibility.product_link" | t }}"
    ></a>
  {% endif %}
</div>
