<ul
  class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce color-background-1"
  role="list"
>
  {%- for childlink in link.links -%}
    <li>
      {%- if childlink.links == blank -%}
        <a
          href="{{ childlink.url }}"
          {% if settings.links_blank and childlink.type == "http_link" and childlink.url != "#" %}
            target="_blank"
          {% endif %}
          class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} header__menu-item--active{% endif %}"
          {% if childlink.current %}
            aria-current="page"
          {% endif %}
        >
          <span>
            {{ childlink.title | escape }}
          </span>
        </a>
      {%- else -%}
        <a
          href="{{ childlink.url }}"
          {% if settings.links_blank and childlink.type == "http_link" and childlink.url != "#" %}
            target="_blank"
          {% endif %}
          class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} header__menu-item--active{% endif %}"
          {% if childlink.current %}
            aria-current="page"
          {% endif %}
        >
          <span>
            {{ childlink.title | escape }}
            {% render 'icon-caret' %}
          </span>
        </a>
        <ul
          class="header__submenu list-menu--disclosure list-menu motion-reduce color-background-1"
        >
          {%- for grandchildlink in childlink.links -%}
            <li>
              <a
                href="{{ grandchildlink.url }}"
                {% if settings.links_blank and grandchildlink.type == "http_link" and grandchildlink.url != "#" %}
                  target="_blank"
                {% endif %}
                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} header__menu-item--active{% endif %}"
                {% if grandchildlink.current %}
                  aria-current="page"
                {% endif %}
              >
                <span>
                  {{ grandchildlink.title | escape }}
                </span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
