{% comment %}
  Renders subscription form
  Accepts:
  label: {Object} Button label
  style: {Object} Button style
  color_scheme: {Object} Color scheme
  class: {String} Class (optional)

  Usage:
  {% render 'subscription',
  	label: section.settings.button_label_subscribe,
  	style: section.settings.button_style_subscribe,
  	color_scheme: section.settings.color_scheme_subscribe,
  	enable_box_shadow: section.settings.enable_box_shadow,
  	class: ''
  %}
{% endcomment %}

<div class="subscription {% if class %}{{ class }}__subscription{% endif %}" {{ block.shopify_attributes }}>
  {% form 'customer', class: 'subscription-form' %}
    <div class="subscription__inner {% if class %}{{ class }}__inner{% endif %} color-{{ color_scheme }} {% if enable_box_shadow %}form--shadow{% endif %}">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="subscription__field-wrapper {% if class %}{{ class }}__field-wrapper{% endif %}">
        <div class="field">
          <input
            dir="ltr"
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input field {% if class %}{{ class }}__input{% endif %}"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="{{ 'newsletter.label' | t }}"
            required
          >
          <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
          </label>
        </div>
        {%- if form.errors -%}
          <small
            class="form__message"
            id="Newsletter-error--{{ section.id }}"
          >
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- endif -%}
      </div>
      <button
        type="submit"
        class="subscription__button {% if class %}{{ class }}__button{% endif %} button button--{{ style }} focus-inset"
        name="commit"
      >
        <span>{{ label }}</span>
      </button>
    </div>
    {%- if form.posted_successfully? -%}
      <h3
        class="subscription__message newsletter-form__message--success form__message"
        id="Newsletter-success--{{ section.id }}"
        tabindex="-1"
        autofocus
      >
        {% render 'icon-success' -%}
        {{- 'newsletter.success' | t }}
      </h3>
    {%- endif -%}
  {% endform %}
</div>
