{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

{% liquid
  if section.settings.image_ratio != "adapt"
    assign aspect_ratio = section.settings.image_ratio | split: '/'
    assign temp = aspect_ratio[0] | append: '.0'
    assign padding_bottom = aspect_ratio[1] | divided_by: temp | times: 100 | round: 2
  else
    assign padding_bottom = 1 | divided_by: collection.image.aspect_ratio | times: 100 | round: 2
  endif
%}

<div class="collection-hero color-{{ section.settings.color_scheme }} background">
  <div class = "container">
    <div class="collection-hero__wrapper">
      <div class="collection-hero__text-wrapper">
        <div class="page-header">
          <div class="page-header__inner">
            <h1 class="collection-hero__title title--page h2">
              <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
              {{- collection.title | escape -}}
            </h1>
          </div>
        </div>
        {%- if section.settings.show_collection_description and collection.description != blank -%}
          <div class="collection-hero__description body-large rte">
            {{ collection.description }}
          </div>
        {%- endif -%}
      </div>

      {%- liquid
        assign collection_image = collection.image
        
        if section.settings.image != blank and collection.id != blank
          assign collection_image = section.settings.image
        endif

        if collection_image == blank and collection.id == blank
          assign collection_image = section.settings.image_products
        endif
      -%}
      {%- if section.settings.show_collection_image and collection_image -%}
        {% capture sizes %}
          (min-width: 1200px) calc(100vw + 200px), 
          calc(100vw + 60px)
        {% endcapture %}
        <div class="collection-hero__image-wrapper">
          <div class="media" style="padding-bottom: {{ padding_bottom }}%">
            {{
              collection_image
              | image_url: width: collection_image.width
              | image_tag:
                loading: 'lazy',
                widths: '360, 535, 720, 940, 1100, 1200, 1440, 1600, 1800, 2000, 2100, 2200, 2880, 3200, 3600, 4000, 4200, 4400',
                sizes: sizes
            }}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "collection-banner-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.main-collection-banner.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-collection-banner.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.main-collection-banner.settings.image_ratio.options__1.label"
        },
        {
          "value": "2/1",
          "label": "t:sections.main-collection-banner.settings.image_ratio.options__2.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.main-collection-banner.settings.image_ratio.options__3.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.main-collection-banner.settings.image_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.main-collection-banner.settings.image_ratio.options__5.label"
        },
        {
          "value": "adapt",
          "label": "t:sections.main-collection-banner.settings.image_ratio.options__6.label"
        }
      ],
      "default": "16/9",
      "label": "t:sections.main-collection-banner.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "image_picker",
      "id": "image_products",
      "label": "t:sections.main-collection-banner.settings.image_products.label",
      "info": "t:sections.main-collection-banner.settings.image_products.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "s",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ]
}
{% endschema %}