{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<link
  rel="preload"
  href="{{ 'component-card.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<link
  rel="preload"
  href="{{ 'component-price.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<link
  rel="preload"
  href="{{ 'component-badge.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<link
  rel="preload"
  href="{{ 'component-rte.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  {% if section.settings.filter_type == 'vertical' %}
    <script src="{{ 'product-grid.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.quickview_show or settings.show_on_mobile or settings.type_color_swatch == 'custom' -%}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if settings.quickview_show or settings.show_on_mobile -%}
	<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">
	<link
		rel="preload"
		href="{{ 'quick-add.css' | asset_url }}"
		as="style"
		onload="this.onload=null;this.rel='stylesheet'"
	>

	<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{% elsif settings.add_to_cart_enabled %}
	<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.quickview_show == false and settings.type_color_swatch == 'custom' -%}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- style -%}
  {% render 'section-padding' %}
{%- endstyle -%}

{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

<div class="container section-{{ section.id }}-padding">
  <div class="collection-wrapper 
    collection-wrapper--{{ section.settings.columns }}
    collection-wrapper--{{ section.settings.filter_type }}
    {%- if collection.all_products_count == 0 -%} collection-wrapper--empty {% endif %}
    {%- if section.settings.enable_filtering == false and section.settings.enable_sorting == false -%} collection-wrapper_no-facets {% endif %}">
    {%- if collection.all_products_count > 0 and collection.products_count > 0 -%}
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        {% render 'facets',
          results: collection,
          enable_filtering: section.settings.enable_filtering,
          enable_sorting: section.settings.enable_sorting,
          filter_type: section.settings.filter_type,
          image_filter_ratio: section.settings.image_filter_ratio,
          image_filter_fit: section.settings.image_filter_fit,
          image_filter_columns: section.settings.image_filter_columns
        %}
      {%- endif -%}
    {%- endif -%}

    <div
      id="ProductGridContainer"
      class="products-grid 
      {% if section.settings.filter_type != 'vertical' %} full-width {% endif %}
      {% if section.settings.enable_filtering == false %} products-grid_no-filter {%- endif -%}"
    >
      {%- paginate collection.products by section.settings.products_per_page -%}
        {%- if collection.products.size == 0 -%}
          <div
            class="collection collection-product collection--empty container"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay">
              <div class="loading-overlay__spinner">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>

            <div class="title-wrapper center title-wrapper-empty">
              <h2 class="title title--primary body-large">
                {% if collection.all_products_count == 0 %}
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                {% else %}
                  {{ 'sections.collection_template.empty_results' | t -}}
                  <br>
                  {{
                    'sections.collection_template.results_use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                  }}
                {% endif %}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection collection-product">
            <div class="loading-overlay">
              <div class="loading-overlay__spinner">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  role="presentation"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>

            <ul id="product-grid" data-id="{{ section.id }}" class="collection-product-list 
              collection-product-list--{{ section.settings.columns }}-items
              collection-product-list--{{ section.settings.columns_mobile }}-mobile load-more-grid">
              {%- for product in collection.products -%}
                <li class="collection-product-card {% if settings.quickview_hover %}quickview--hover{% endif %}
                  {% if section.settings.filter_type == 'vertical' and section.settings.enable_filtering and section.settings.columns > 2 %} 
                    collection-product-card--small 
                  {% elsif section.settings.columns > 3 %} 
                    collection-product-card--small 
                  {% endif %}">
                  {% if section.settings.filter_type == 'vertical' and section.settings.enable_filtering == false %}
                    {% assign columns = section.settings.columns | minus: 1 %}
                  {% else %}
                    {% assign columns = section.settings.columns %}
                  {% endif %}
                  {% render 'product-card',
                    product_card_product: product,
                    media_ratio: section.settings.image_ratio,
                    media_fit: section.settings.image_fit,
                    add_border_radius_when_contain: section.settings.add_border_radius_when_contain,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_desc: section.settings.show_desc,
                    columns: section.settings.columns,
                    section_id: section.id,
                    add_id: forloop.index
                  %}
                </li>
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {%- if settings.pagination_type == 'load_more' -%}
                {% render 'load-more',
                  next_url: paginate.next.url,
                  count_pages: paginate.pages,
                  current_page: paginate.current_page
                %}
                <div class="js-hidden">
                  {% render 'pagination', paginate: paginate %}
                </div>
              {%- elsif settings.pagination_type == 'infinite_scroll' -%}
                {% render 'infinite-scroll',
                  next_url: paginate.next.url,
                  count_pages: paginate.pages,
                  current_page: paginate.current_page
                %}
                <div class="js-hidden">
                  {% render 'pagination', paginate: paginate %}
                </div>
              {% else %}
                {% render 'pagination', paginate: paginate %}
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "tag": "section",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 3,
      "max": 45,
      "step": 1,
      "default": 12,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-collection-product-grid.settings.columns.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        },
        {
          "value": "5/4",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__4.label"
        }
      ],
      "default": "5/4",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
			"type": "checkbox",
			"id": "add_border_radius_when_contain",
			"default": false,
			"label": "t:sections.all.card.add_border_radius_when_contain.label"
		},
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_desc.label",
      "info": "t:sections.main-collection-product-grid.settings.show_desc.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "horizontal_united",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal_united",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.image_filter.content"
    },
    {
      "type": "select",
      "id": "image_filter_ratio",
      "options": [
        {
          "value": "1/1",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        },
        {
          "value": "5/4",
          "label": "t:sections.all.card.image_ratio.options__4.label"
        }
      ],
      "default": "5/4",
      "label": "t:sections.all.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "image_filter_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "range",
      "id": "image_filter_columns",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2,
      "label": "t:sections.main-collection-product-grid.settings.image_filter_columns.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    }
  ]
}
{% endschema %}