{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
<script src="{{ 'testimonials.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}
{%- endstyle -%}

{% liquid
  if section.settings.slide_text_size == 'recommended'
    case section.settings.layout
      when 'simple_slider', 'marquee'
        assign text_size = 'h6'
      when 'full_slider'
        assign text_size = 'h3'
      when 'image_left_slider'
        assign text_size = 'h4'
      else
        assign text_size = 'h5'
    endcase
  endif
%}

<div class="testimonials color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding testimonials--{{ section.settings.layout }}">
  <div class="container">
    {% render 'section-text', section: section, class: 'testimonials', text_align: section.settings.text_align, heading_level: section.settings.heading_level %}

    <div class="testimonials__content content">
      {% liquid
        if section.settings.layout == 'simple_slider' or section.settings.layout == 'image_top_slider'
          assign columns = 3
        else
          assign columns = 1
        endif

        if section.settings.layout == 'full_slider'
          assign content_align = 'center'
        else
          assign content_align = 'left'
        endif
      %}

      {% if section.settings.layout != 'marquee' %}
        {% assign navigation = false %}
        {% if section.settings.enable_navigation or section.settings.enable_navigation_mobile %}
          {% assign navigation = true %}
        {% endif %}
        {% assign pagination = false %}
        {% if section.settings.enable_pagination or section.settings.enable_pagination_mobile %}
          {% assign pagination = true %}
        {% endif %}
        <div class="testimonials__slider-wrapper">
          <div
            class="
              testimonials__slider swiper
              testimonials__slider--{{ section.settings.layout }}
              testimonials__slider--columns-{{ columns }}
            "
            data-columns="{{ columns }}"
            data-navigation="{{ navigation }}"
            data-pagination="{{ pagination }}"
          >
            <div class="testimonials__wrapper swiper-wrapper">
              {%- for block in section.blocks -%}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    {% if section.settings.layout == 'image_left_slider'
                      or section.settings.layout == 'image_top_slider'
                    %}
                      {% if block.settings.image != blank %}
                        {% capture sizes %}
                          (min-width: 750px) 550px, 
                          calc(100vw - 40px)
                        {% endcapture %}
                        <div class="testimonials__author-image">
                          {{
                            block.settings.image
                            | image_url: width: block.settings.image.width
                            | image_tag:
                              loading: 'lazy',
                              class: 'motion-reduce media--second',
                              widths: '360, 533, 720, 940, 1066, 1200',
                              sizes: sizes
                          }}
                        </div>
                      {% endif %}
                    {% endif %}

                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{- block.settings.slide_text -}}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if section.settings.layout != 'image_left_slider'
                            and section.settings.layout != 'image_top_slider'
                          %}
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div
                                  class="
                                    testimonials__author-name
                                    {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}
                                  "
                                >
                                  {{- block.settings.slide_name -}}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position {% if section.settings.layout == 'simple_slider' or section.settings.layout == 'image_top_slider' %} body-small {% endif %}">
                                  {{- block.settings.slide_position -}}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% if section.settings.enable_pagination or section.settings.enable_pagination_mobile %}
            <div
              class="
                testimonials__pagination no-js-hidden
                swiper-pagination color-{{ section.settings.pagination_color_scheme }}
                {% if section.settings.enable_pagination == false %} testimonials__pagination--desktop-hidden {% endif %}
                {% if  section.settings.enable_pagination_mobile == false %} testimonials__pagination--mobile-hidden {% endif %}
              "
            ></div>
          {% endif %}
          {% if section.settings.enable_navigation or section.settings.enable_navigation_mobile %}
            <div
              class="
                testimonials__navigation swiper-navigation no-js-hidden
                {% if section.settings.enable_pagination %} testimonials__navigation_margin {% endif %}
                {% if section.settings.enable_navigation_mobile and section.settings.enable_pagination_mobile %} testimonials__navigation--mobile-center {% endif %}
                {% if section.settings.enable_navigation == false %} testimonials__navigation--desktop-hidden {% endif %}
                {% if section.settings.enable_navigation_mobile == false %} testimonials__navigation--mobile-hidden {% endif %}
              "
            >
              <div class="testimonials__button-prev swiper-button-prev color-{{ section.settings.navigation_color_scheme }}">
                {% render 'icon-caret-left' %}
              </div>
              <div class="testimonials__button-next swiper-button-next color-{{ section.settings.navigation_color_scheme }}">
                {% render 'icon-caret-right' %}
              </div>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="testimonials__marquee-wrapper {% if section.blocks.size > 6 %} testimonials__marquee-wrapper_full {% endif %}">
          <div class="testimonials__marquee {% if section.blocks.size > 6 %} testimonials__marquee-swiper swiper {% endif %}">
            {% if section.blocks.size > 6 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 3 %}

              {% if mod == 1 %}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.blocks.size < 18 and section.blocks.size > 6 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 1 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if section.blocks.size > 6 %}
              </div>
            {% endif %}
          </div>

          <div class="testimonials__marquee {% if section.blocks.size > 6 %} testimonials__marquee-swiper swiper {% endif %}">
            {% if section.blocks.size > 6 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 3 %}

              {% if mod == 2 %}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count  body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.blocks.size < 18 and section.blocks.size > 6 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 2 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if section.blocks.size == 7 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 2 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if section.blocks.size > 6 %}
              </div>
            {% endif %}
          </div>

          <div class="testimonials__marquee {% if section.blocks.size > 6 %} testimonials__marquee-swiper swiper {% endif %}">
            {% if section.blocks.size > 6 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 3 %}

              {% if mod == 0 %}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.blocks.size < 18 and section.blocks.size > 6 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 0 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if section.blocks.size == 7 or section.blocks.size == 8 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 0 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if section.blocks.size > 6 %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="testimonials__marquee-wrapper_mobile {% if section.blocks.size > 3 %} testimonials__marquee-wrapper_mobile-full {% endif %}">
          <div class="testimonials__marquee {% if section.blocks.size > 3 %} testimonials__marquee-swiper_mobile swiper {% endif %}">
            {% if section.blocks.size > 3 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              <div class="swiper-slide">
                <div
                  class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="testimonials__item">
                    <div class="testimonials__rating">
                      <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                        <i class="icon-star"></i>
                      </div>
                      <div class="testimonials__rating-count body-small">
                        {{ block.settings.rating | append: '.00' }}
                      </div>
                    </div>

                    {% if block.settings.slide_text != blank %}
                      <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                        {{ block.settings.slide_text | escape }}
                      </p>
                    {% endif %}

                    {% if block.settings.image != blank
                      or block.settings.slide_name != blank
                      or block.settings.slide_position != blank
                    %}
                      <div class="testimonials__author">
                        {% if block.settings.image != blank %}
                          <div class="testimonials__author-icon">
                            {{
                              block.settings.image
                              | image_url: width: block.settings.image.width
                              | image_tag: loading: 'lazy', widths: '70, 140'
                            }}
                          </div>
                        {% endif %}
                        {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                          <div class="testimonials__author-info">
                            {% if block.settings.slide_name != blank %}
                              <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                {{ block.settings.slide_name }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_position != blank %}
                              <div class="testimonials__author-position body-small">
                                {{ block.settings.slide_position }}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

            {% if section.blocks.size > 3 and section.blocks.size < 6 %}
              {%- for block in section.blocks -%}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.blocks.size > 3 %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class": "testimonials-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.testimonials.settings.layout.label",
      "options": [
        {
          "value": "simple_slider",
          "label": "t:sections.testimonials.settings.layout.options__1.label"
        },
        {
          "value": "full_slider",
          "label": "t:sections.testimonials.settings.layout.options__2.label"
        },
        {
          "value": "image_left_slider",
          "label": "t:sections.testimonials.settings.layout.options__3.label"
        },
        {
          "value": "image_top_slider",
          "label": "t:sections.testimonials.settings.layout.options__4.label"
        },
        {
          "value": "marquee",
          "label": "t:sections.testimonials.settings.layout.options__5.label"
        }
      ],
      "default": "simple_slider"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label",
      "default": "t:sections.testimonials.settings.subheading.default"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "options": [
        {
          "value": "subtitle",
          "label": "t:sections.all.subheading_style.options__1.label"
        },
        {
          "value": "subtitle subtitle--secondary",
          "label": "t:sections.all.subheading_style.options__2.label"
        }
      ],
      "default": "subtitle",
      "label": "t:sections.all.subheading_style.label"
    },
    {
      "type": "select",
      "id": "subheading_icon",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.icon_pack.options__1.label"
        },
        {
          "value": "arrow-bar",
          "label": "t:sections.all.icon_pack.options__2.label"
        },
        {
          "value": "bag-1",
          "label": "t:sections.all.icon_pack.options__3.label"
        },
        {
          "value": "bag-2",
          "label": "t:sections.all.icon_pack.options__4.label"
        },
        {
          "value": "bag-3",
          "label": "t:sections.all.icon_pack.options__119.label"
        },
        {
          "value": "bar-chart",
          "label": "t:sections.all.icon_pack.options__5.label"
        },
        {
          "value": "bars-upward",
          "label": "t:sections.all.icon_pack.options__6.label"
        },
        {
          "value": "baseball",
          "label": "t:sections.all.icon_pack.options__7.label"
        },
        {
          "value": "battery-1",
          "label": "t:sections.all.icon_pack.options__8.label"
        },
        {
          "value": "battery-2",
          "label": "t:sections.all.icon_pack.options__9.label"
        },
        {
          "value": "battery-3",
          "label": "t:sections.all.icon_pack.options__10.label"
        },
        {
          "value": "book",
          "label": "t:sections.all.icon_pack.options__11.label"
        },
        {
          "value": "card",
          "label": "t:sections.all.icon_pack.options__12.label"
        },
        {
          "value": "card-holder",
          "label": "t:sections.all.icon_pack.options__13.label"
        },
        {
          "value": "chart",
          "label": "t:sections.all.icon_pack.options__14.label"
        },
        {
          "value": "chart-2",
          "label": "t:sections.all.icon_pack.options__113.label"
        },
        {
          "value": "chart-3",
          "label": "t:sections.all.icon_pack.options__114.label"
        },
        {
          "value": "chats",
          "label": "t:sections.all.icon_pack.options__15.label"
        },
        {
          "value": "check-1",
          "label": "t:sections.all.icon_pack.options__16.label"
        },
        {
          "value": "check-2",
          "label": "t:sections.all.icon_pack.options__17.label"
        },
        {
          "value": "check-3",
          "label": "t:sections.all.icon_pack.options__18.label"
        },
        {
          "value": "check-4",
          "label": "t:sections.all.icon_pack.options__19.label"
        },
        {
          "value": "circle",
          "label": "t:sections.all.icon_pack.options__20.label"
        },
        {
          "value": "circles",
          "label": "t:sections.all.icon_pack.options__21.label"
        },
        {
          "value": "clock-1",
          "label": "t:sections.all.icon_pack.options__115.label"
        },
        {
          "value": "clock-2",
          "label": "t:sections.all.icon_pack.options__116.label"
        },
        {
          "value": "close",
          "label": "t:sections.all.icon_pack.options__22.label"
        },
        {
          "value": "cloud-server",
          "label": "t:sections.all.icon_pack.options__23.label"
        },
        {
          "value": "computer",
          "label": "t:sections.all.icon_pack.options__24.label"
        },
        {
          "value": "computer-mouse",
          "label": "t:sections.all.icon_pack.options__120.label"
        },
        {
          "value": "confetti",
          "label": "t:sections.all.icon_pack.options__25.label"
        },
        {
          "value": "delivery",
          "label": "t:sections.all.icon_pack.options__26.label"
        },
        {
          "value": "delivery-box",
          "label": "t:sections.all.icon_pack.options__27.label"
        },
        {
          "value": "devices",
          "label": "t:sections.all.icon_pack.options__28.label"
        },
        {
          "value": "directions",
          "label": "t:sections.all.icon_pack.options__29.label"
        },
        {
          "value": "dumbbell",
          "label": "t:sections.all.icon_pack.options__30.label"
        },
        {
          "value": "eye",
          "label": "t:sections.all.icon_pack.options__31.label"
        },
        {
          "value": "facebook",
          "label": "t:sections.all.icon_pack.options__32.label"
        },
        {
          "value": "file-1",
          "label": "t:sections.all.icon_pack.options__33.label"
        },
        {
          "value": "file-2",
          "label": "t:sections.all.icon_pack.options__34.label"
        },
        {
          "value": "flag",
          "label": "t:sections.all.icon_pack.options__35.label"
        },
        {
          "value": "folder-1",
          "label": "t:sections.all.icon_pack.options__36.label"
        },
        {
          "value": "folder-2",
          "label": "t:sections.all.icon_pack.options__37.label"
        },
        {
          "value": "food",
          "label": "t:sections.all.icon_pack.options__38.label"
        },
        {
          "value": "hand-1",
          "label": "t:sections.all.icon_pack.options__39.label"
        },
        {
          "value": "hand-2",
          "label": "t:sections.all.icon_pack.options__40.label"
        },
        {
          "value": "hand-3",
          "label": "t:sections.all.icon_pack.options__41.label"
        },
        {
          "value": "headphones",
          "label": "t:sections.all.icon_pack.options__42.label"
        },
        {
          "value": "instagram",
          "label": "t:sections.all.icon_pack.options__43.label"
        },
        {
          "value": "laptop-1",
          "label": "t:sections.all.icon_pack.options__44.label"
        },
        {
          "value": "laptop-2",
          "label": "t:sections.all.icon_pack.options__45.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.all.icon_pack.options__46.label"
        },
        {
          "value": "lightning-bolt-1",
          "label": "t:sections.all.icon_pack.options__47.label"
        },
        {
          "value": "lightning-bolt-2",
          "label": "t:sections.all.icon_pack.options__48.label"
        },
        {
          "value": "like",
          "label": "t:sections.all.icon_pack.options__49.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.icon_pack.options__50.label"
        },
        {
          "value": "lock-1",
          "label": "t:sections.all.icon_pack.options__51.label"
        },
        {
          "value": "lock-2",
          "label": "t:sections.all.icon_pack.options__52.label"
        },
        {
          "value": "logout",
          "label": "t:sections.all.icon_pack.options__53.label"
        },
        {
          "value": "luggage",
          "label": "t:sections.all.icon_pack.options__54.label"
        },
        {
          "value": "mark",
          "label": "t:sections.all.icon_pack.options__55.label"
        },
        {
          "value": "medicine",
          "label": "t:sections.all.icon_pack.options__56.label"
        },
        {
          "value": "microphone",
          "label": "t:sections.all.icon_pack.options__57.label"
        },
        {
          "value": "moon",
          "label": "t:sections.all.icon_pack.options__58.label"
        },
        {
          "value": "pencil",
          "label": "t:sections.all.icon_pack.options__59.label"
        },
        {
          "value": "phone-1",
          "label": "t:sections.all.icon_pack.options__60.label"
        },
        {
          "value": "phone-2",
          "label": "t:sections.all.icon_pack.options__61.label"
        },
        {
          "value": "phone-3",
          "label": "t:sections.all.icon_pack.options__62.label"
        },
        {
          "value": "phone-4",
          "label": "t:sections.all.icon_pack.options__63.label"
        },
        {
          "value": "pinterest",
          "label": "t:sections.all.icon_pack.options__64.label"
        },
        {
          "value": "plug",
          "label": "t:sections.all.icon_pack.options__65.label"
        },
        {
          "value": "presentation-1",
          "label": "t:sections.all.icon_pack.options__66.label"
        },
        {
          "value": "presentation-2",
          "label": "t:sections.all.icon_pack.options__67.label"
        },
        {
          "value": "pulse",
          "label": "t:sections.all.icon_pack.options__68.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.all.icon_pack.options__69.label"
        },
        {
          "value": "rocket",
          "label": "t:sections.all.icon_pack.options__70.label"
        },
        {
          "value": "search",
          "label": "t:sections.all.icon_pack.options__71.label"
        },
        {
          "value": "sending",
          "label": "t:sections.all.icon_pack.options__117.label"
        },
        {
          "value": "server-1",
          "label": "t:sections.all.icon_pack.options__72.label"
        },
        {
          "value": "server-2",
          "label": "t:sections.all.icon_pack.options__73.label"
        },
        {
          "value": "settings",
          "label": "t:sections.all.icon_pack.options__74.label"
        },
        {
          "value": "shield",
          "label": "t:sections.all.icon_pack.options__75.label"
        },
        {
          "value": "shopping-basket",
          "label": "t:sections.all.icon_pack.options__76.label"
        },
        {
          "value": "shuffle",
          "label": "t:sections.all.icon_pack.options__77.label"
        },
        {
          "value": "snapchat",
          "label": "t:sections.all.icon_pack.options__78.label"
        },
        {
          "value": "sound-waves",
          "label": "t:sections.all.icon_pack.options__79.label"
        },
        {
          "value": "speaker",
          "label": "t:sections.all.icon_pack.options__80.label"
        },
        {
          "value": "squares-1",
          "label": "t:sections.all.icon_pack.options__81.label"
        },
        {
          "value": "squares-2",
          "label": "t:sections.all.icon_pack.options__82.label"
        },
        {
          "value": "stack",
          "label": "t:sections.all.icon_pack.options__83.label"
        },
        {
          "value": "star",
          "label": "t:sections.all.icon_pack.options__84.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.all.icon_pack.options__85.label"
        },
        {
          "value": "sun",
          "label": "t:sections.all.icon_pack.options__86.label"
        },
        {
          "value": "tag",
          "label": "t:sections.all.icon_pack.options__87.label"
        },
        {
          "value": "telephone-tower",
          "label": "t:sections.all.icon_pack.options__88.label"
        },
        {
          "value": "tik-tok",
          "label": "t:sections.all.icon_pack.options__89.label"
        },
        {
          "value": "tree",
          "label": "t:sections.all.icon_pack.options__90.label"
        },
        {
          "value": "trend",
          "label": "t:sections.all.icon_pack.options__91.label"
        },
        {
          "value": "trophy",
          "label": "t:sections.all.icon_pack.options__92.label"
        },
        {
          "value": "tumblr",
          "label": "t:sections.all.icon_pack.options__93.label"
        },
        {
          "value": "tv",
          "label": "t:sections.all.icon_pack.options__94.label"
        },
        {
          "value": "twitter",
          "label": "t:sections.all.icon_pack.options__95.label"
        },
        {
          "value": "user-1",
          "label": "t:sections.all.icon_pack.options__96.label"
        },
        {
          "value": "user-2",
          "label": "t:sections.all.icon_pack.options__97.label"
        },
        {
          "value": "user-3",
          "label": "t:sections.all.icon_pack.options__98.label"
        },
        {
          "value": "user-4",
          "label": "t:sections.all.icon_pack.options__99.label"
        },
        {
          "value": "user-5",
          "label": "t:sections.all.icon_pack.options__118.label"
        },
        {
          "value": "video",
          "label": "t:sections.all.icon_pack.options__100.label"
        },
        {
          "value": "vimeo",
          "label": "t:sections.all.icon_pack.options__101.label"
        },
        {
          "value": "wallet",
          "label": "t:sections.all.icon_pack.options__102.label"
        },
        {
          "value": "watch",
          "label": "t:sections.all.icon_pack.options__103.label"
        },
        {
          "value": "water-1",
          "label": "t:sections.all.icon_pack.options__104.label"
        },
        {
          "value": "water-2",
          "label": "t:sections.all.icon_pack.options__105.label"
        },
        {
          "value": "water-3",
          "label": "t:sections.all.icon_pack.options__106.label"
        },
        {
          "value": "wave-1",
          "label": "t:sections.all.icon_pack.options__107.label"
        },
        {
          "value": "wave-2",
          "label": "t:sections.all.icon_pack.options__108.label"
        },
        {
          "value": "wifi-1",
          "label": "t:sections.all.icon_pack.options__109.label"
        },
        {
          "value": "wifi-2",
          "label": "t:sections.all.icon_pack.options__110.label"
        },
        {
          "value": "window",
          "label": "t:sections.all.icon_pack.options__111.label"
        },
        {
          "value": "youtube",
          "label": "t:sections.all.icon_pack.options__112.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.subheading_icon.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "info": "t:sections.all.heading.info",
      "default": "t:sections.testimonials.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_level",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_level.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_level.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_level.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_level.label"
    },
    {
      "type": "select",
      "id": "heading_line",
      "options": [
        {
          "value": "simple",
          "label": "t:sections.all.heading_line.options__1.label"
        },
        {
          "value": "rounded",
          "label": "t:sections.all.heading_line.options__2.label"
        },
        {
          "value": "background",
          "label": "t:sections.all.heading_line.options__3.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.heading_line.options__4.label"
        }
      ],
      "default": "simple",
      "label": "t:sections.all.heading_line.label"
    },
    {
      "type": "color",
      "id": "line_color",
      "label": "t:sections.all.line_color.label",
      "default": "#1566E0"
    },
    {
      "type": "checkbox",
      "id": "word_break",
      "label": "t:sections.all.word_break.label",
      "default": false
    },
    {
      "type": "select",
      "id": "heading_animation",
      "options": [
        {
          "value": "typewriter",
          "label": "t:sections.all.heading_animation.options__1.label"
        },
        {
          "value": "rolling",
          "label": "t:sections.all.heading_animation.options__2.label"
        },
        {
          "value": "appearing",
          "label": "t:sections.all.heading_animation.options__3.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.heading_animation.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.heading_animation.label",
      "info": "t:sections.all.heading_animation.info"
    },
    {
      "type": "checkbox",
      "id": "word_break_an",
      "label": "t:sections.all.word_break_an.label",
      "default": false
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "t:sections.all.text.label",
      "default": "t:sections.testimonials.settings.description.default"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "t:sections.all.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_align.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "slide_color_scheme",
      "default": "background-2",
      "label": "t:sections.testimonials.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "slide_text_size",
      "label": "t:sections.testimonials.settings.slide_text_size.label",
      "options": [
        {
          "value": "recommended",
          "label": "t:sections.all.heading_size.options__7.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "recommended"
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header__1.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.testimonials.settings.paragraph__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation",
      "default": true,
      "label": "t:sections.testimonials.settings.enable_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_mobile",
      "default": false,
      "label": "t:sections.testimonials.settings.enable_navigation_mobile.label"
    },
    {
      "type": "color_scheme",
      "id": "navigation_color_scheme",
      "default": "background-1",
      "label": "t:sections.all.slider.navigation_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.testimonials.settings.paragraph__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "default": false,
      "label": "t:sections.testimonials.settings.enable_pagination.label"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_mobile",
      "default": true,
      "label": "t:sections.testimonials.settings.enable_pagination_mobile.label"
    },
    {
      "type": "color_scheme",
      "id": "pagination_color_scheme",
      "default": "background-1",
      "label": "t:sections.all.slider.pagination_color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "l",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "blocks": [
    {
      "type": "testimonials_slide",
      "name": "t:sections.testimonials.blocks.testimonials_slide.name",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5,
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.rating.label"
        },
        {
          "type": "textarea",
          "id": "slide_text",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.default",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_text.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.image.label"
        },
        {
          "type": "text",
          "id": "slide_name",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_name.default",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_name.label"
        },
        {
          "type": "text",
          "id": "slide_position",
          "default": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_position.default",
          "label": "t:sections.testimonials.blocks.testimonials_slide.settings.slide_position.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "blocks": [
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        },
        {
          "type": "testimonials_slide"
        }
      ]
    }
  ]
}
{% endschema %}
